#root {
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for spacing */
  height: 100vh; /* Set a height to see the effect */
  background-color: #fcfcfc; /* Example background color */
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* HEADER CSS */
.header {
  text-align: left; 
  padding: 20px; 
}


.header h1 {
  margin-bottom: 10px; 
}

.header p{
  font-size: 20px;
}

.header div {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.header button {
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  background-color: #bb50d3;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.header button:hover{
  background-color: #b632d3;
}

#grid {
  display: flex;
  justify-content: flex-end;
}

.grid-view {
  display: flex;
}

.grid-view a {
  background-color: transparent;
  color: #cfcfcf;
  font-size: 25px;
  padding: 10px ;
  border: none;
}

.grid-view a:hover,
.grid-view a:active,
.grid-view a.active {
  color: black;
}



/* DETAILS VIEW CSS */
.details-container{
  padding: 20px;
}

.details-header{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.details-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 10%;
}


/* TABLE CSS */
.table {
  width: 100%;
  border-collapse: collapse;
 }
 
 .table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
 }
 
 .table th {
  background-color: #842fa9;
  color: white;
 }
 
 .table tr:nth-child(even) {
  background-color: #f2f2f2;
 }
 
 .table tr:hover {
  background-color: #ddd;
 }

 .table-button button {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
 }
 .table-button button:hover {
  color: #b632d3
 }

 .table-button .delete:hover{
  color: red;
 }

/* .active{
  background-color: transparent;

} */

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.actions button {
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  color: var(--color-gray-800);
  border: 2px solid #bb50d3;
}

.actions button:hover {
  background-color: #b632d3;
  color: white;
}


.actions button[type="submit"]{
  background-color: #bb50d3;
  color: white
}

.actions button[type='submit']:hover {
  background-color: #b632d3
}

/* Card view */

#card-layout{
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: calc(25% - 30px); /* 20px is the total margin (left + right) */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  width: 100%;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card p {
  margin: 10px;
  
}

.card-button button {
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;
 }
 .card-button button:hover {
  color: #b632d3
 }

 .card-button .delete:hover{
  color: red;
 }

/* INPUT CSS */

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* MODAL CSS */

.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 340px;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}


.control-error {
  color: red;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
  margin: 0;
}

.control-error p {
  margin: 0;
}